:root{
--azul-royal: #071952;
--azul-medio:  #088395;
--azul-claro:  #37B7C3;
--branco: #EBF4F6;

}

*{
    margin: 0%;
    padding: 0%;
}

body{
    box-sizing: border-box;
    height: 100vh;
    background: var(--azul-medio);
color: var(--branco);

}
.principal__imagem{
    padding: 2% 0% 0% 2%;
    width: 7%;

}
.apresentacao{

    display: flex;
    justify-content: space-between;
    


}
.apresentacao__formulario{
display: flex;
flex-direction: column;
align-items: center;
padding: 0 0 0 10%;
width: 50%;


}

.apresentacao__formulario__aviso{
align-items: center;

}

.apresentacao__formulario__textArea{

    background: var(--azul-claro); 
    width:80%;
    height: 80%;
   padding: 2% 0 0 2%;
}
.apresentacao__formulario__botao{

    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding:  2% 0 2% 0;
    
    
    
}
.apresentacao__formulario__botao_criptografar:hover {
    background: var(--azul-claro);
}
.apresentacao__formulario__botao_criptografar{

    width: 50%;
    padding: 21.5px 38px;
    border-radius: 25px;
    background-color: var(--azul-royal);
    border: 0;
    color: var(--branco);
}

.apresentacao__formulario__botao_descriptografar:hover {
    background: var(--azul-claro);
}

.apresentacao__formulario__botao_descriptografar{

    width: 50%;
    padding: 21.5px 30px;
    border-radius: 25px;
    background-color: var(--azul-royal);
    border: 0;
    color: var(--branco);
}

.texto__saida{

border-radius: 20px;
display:  flex;
flex-direction: column;
align-items: center;
width: 30%;
height:70vh;
margin: 0% 2% 2% 0;
background: var(--azul-claro);
justify-content: center;

}
.texto__saida_img_messagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--azul-royal);
}
.texto__saida__div{
display: flex;
flex-direction: column;
align-items: center;

}

.texto__saida__img{
 
width: 50%;

}

.texto__saida__nenhuma_menssagem{
    text-align: center;
    
}

.texto__saida__aviso{

    text-align: center;
    color: var(--branco);
    padding: 5%;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}
.texto__saida__btn:hover {
    background: var(--azul-claro);
}
.texto__saida__btn{
margin-top: 25%;
width: 2500px;
width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--azul-royal);
    border: 0;
    color: var(--branco);
}

.rodape{

    background-color:var(--azul-royal);
    padding-top: 10px;
    padding-bottom: 10px;
text-align: center;
color: var(--branco);

}